:host {
  position: absolute;
}

div.action-holder {
  position: relative;
  bottom: -74px;
  z-index: 150;
  nextflix-icon {
    position: absolute;
    cursor: pointer;
    bottom: 71px;
    z-index: 100;
    opacity: 0;
    &.ate {
      cursor: default;
    }
  }
  &.hovered {
    bottom: 74px;
    &.icon-total-3 {
      bottom: 37px;
    }
    &.icon-total-2 {
      bottom: 76px;
    }
    nextflix-icon {
      position: relative;
      opacity: 1;
      &.of2 {
        bottom: -5px;
      }
    }
    
    &.animating {
      bottom: -74px;
      &.icon-total-2 {
        bottom: -147px;
      }
      &.icon-total-3 {
        bottom: -110px;
      }
      nextflix-icon {
        position: absolute;
        bottom: 182px;
        & + nextflix-icon {
          bottom: 145px;
        }
        & + nextflix-icon + nextflix-icon {
          bottom: 108px;
        }
        & + nextflix-icon + nextflix-icon + nextflix-icon {
          bottom: 71px;
        }
      }
    }
  }
}

nextflix-icon.hide {
  visibility: hidden;
  cursor: default;
}