@import "../../../shared/styles/main.styles.scss";

@media only screen and (max-width: 1920px) {
    .hovered-node {
        background-size: 100% 87.8%;
        background-position: 1px -1px;
    }
}

@media only screen and (max-width: 1699px) {
    .hovered-node {
        background-size: 100% 88%;
    }
}

@media only screen and (max-width: 1639px) {
    .hovered-node {
        background-size: 100% 88.4%;
        background-position: 1px -2px;
    }
}

@media only screen and (max-width: 1495) {
    .hovered-node {
        background-position: 0px;
    }
}

@media only screen and (max-width: 1490) {
    .hovered-node {
        background-position: 0px -2px;
    }
}

@media only screen and (max-width: 1479) {
    .hovered-node {
        background-position: 0px -1px;
    }
}

@media only screen and (max-width: 1459px) {
    .hovered-node {
        background-size: 100% 88.4%;
    }
}

@media only screen and (max-width: 1439px) {
    .hovered-node {
        background-size: 100% 88.2%;
        background-position: 1px 0px;
    }
}

@media only screen and (max-width: 1339px) {
    .hovered-node {
        background-size: 100% 88%;
        background-position: 0px 0px;
    }
}

@media only screen and (max-width: 1289px) {
    .hovered-node {
        background-size: 100% 87.7%;
        background-position: 0px 0px;
    }
}

@media only screen and (max-width: 1264px) {
    .hovered-node {
        background-size: 100% 87%;
        background-position: 0px 0px;
    }
}

.hovered-node {
    cursor: pointer;
    border-radius: 2px;
    box-shadow: $node-hover-shadow;
    height: 200%;
    background-color: #FFFFFF;
    z-index: 100;
    width: 100%;
    position: absolute;
    top: -50%;

    div.bottom-container {
        position: absolute;
        bottom: 0;
        height: 22%;
        width: 100%;
        div.coming-soon {
            background-color: rgb(85, 85, 85);
        }

        div.bottom-info {
            width: 100%;
            height: 100%;
            border-radius: 0px;
            padding-left: 1%;
            padding-right: 1%;
            cursor: default;
            &.wm-default-disabled {
                text-transform: uppercase;
            }
    
            div.play-info {
                div.play-title {	
                    height: 23px;	
                    color: #F8F8F8;	
                    font-family: "Open Sans";	
                    font-size: 14px;	
                    font-weight: 400;	
                    line-height: 22px;	
                    text-align: center;
                }
        
                div.play-desc {	
                    height: 34px;
                    color: #F8F8F8;
                    font-family: "Open Sans";
                    font-size: 12px;
                    font-weight: 400;
                    line-height: 17px;
                    text-align: center;
                    text-transform: none;
                }
            }
        }
    }
}